{% extends "::base.html.twig" %}

{% block title %}AppBundle:Coach:detailKlant{% endblock %}

{% block body %}
<h1>Welcome to the Coach:detailKlant page</h1>
    <pre>{{ klanten }}</pre>
{% endblock %}
